.cartaElegida {
  padding: 30px;
  height: 300px;
  background:url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0516/3875/rQmark_shop_preview.png");
  border: solid 3px grey;
  text-align: center;
}

table{
  height: 100%;
  background-color: green;
  padding: 10px;
  border-spacing: 5px;
}
#records {
  border-collapse: collapse;
  width: 50%;
  background-color: #93df8a ;
  border-style: solid;  

}
#records th,tr{
  border: 1px solid black;
}
#records tr:hover {
  background-color:#f5f5f5;
}
#records th{
  background-color: #62b062;
  padding: 10px;  
}

#combobox {
  position: absolute;
  top: 20em;
  left: 40em;
  height: 100px;
  width: 250px;
}
#buttonEasy{
  position: absolute;
  top: 17em;
  left: 45em;
}
#textoEasy{
  position: absolute;
  top: 15em;
  left: 40em;
}
#contador_preguntas{
  position: absolute;
  top: 14em;
  left: 45em;
}

canvas{
  position: fixed;
  top: 0px;
  height: 50%;
  width: 20%;
  
}
#enlaceRecords{
  position: fixed;
  top: 0;
  right: 0;  
  padding:5px;
  border:1px solid black;
  background-color: #dfc416;
}


div {
    width: 100%;
    height: 100%;
  }

.container {
  margin: 5px;
  width: 136px;
  height: 136px;
  perspective: 1000px;
}

.containerElegida{
  padding:10px;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}
.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front, .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  border: 3px solid grey;
}

.front:hover {
  box-shadow: 0px 0px 20px 1px #000;
  background-color: grey;
}

.back {
  border: 3px solid white;
  transform: rotateY(180deg);
  background-color: grey;
}

.back:hover {
  background-color: black;
  border: 3px solid red;
}


/* ************************************************************ */
/*A partir de aqui es el modal*/

/* es el background  del modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*  Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Para cerrar el boton */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Hover de la cruz para cerrar el modal*/
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* ************************************************************ */
/*Aqui acaba el modal*/