
html{
 background: url(background.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{  
  overflow-y: scroll;
  overflow-x: hidden;
}
canvas{
  visibility: hidden;
  position: fixed;
  top: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  left: 0;
  opacity: 0.5;
}

.ryu_egg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.cartaElegida {
  height: 200px;
  background-image: url("cartas/backgroundCS.png");
  background-repeat:repeat;
  background-size: 100px;
}

#records {
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 50%;
  background-color: #93df8a ;
  border-style: solid; 
  text-align: center;
}
#enlacephp2 {
  position: relative;
  left: 42%;
}
#records th,tr{
  border: 1px solid black;
}
#records tr:hover {
  background-color:#f5f5f5;
}

#records th{
  background-color: #62b062;
  padding: 10px;  
}

#enlaceRecords, #enlacephp2{ 
  margin-left: 30px;
  border: solid 3px #dfc416; 
  padding:11px;
  background-color: #dfc416;
}
#enlaceRecords:hover, #enlacephp2:hover{ 
  border: solid 3px green;
}

table{  
  position: relative;
  top: 0;
  height: 100%;
  padding: 5px;
  background-color: green;
  border-spacing: 5px;
  border: 10px solid white;
}

div {
    width: 100%;
    height: 100%;
  }

.container {
  margin: 5px;
  width: 136px;
  height: 136px;
  perspective: 1000px;
}
.containerElegida{
  width: 200px;
  height: 200px;
  perspective: 1000px;
}
.containerElegida .front{
  background-image: url("cartas/backgroundCS.png");
  background-repeat:repeat;
  background-size: 100px;
  border: 5px solid white;
}
.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.front, .back {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  overflow: hidden;
}
.front img, .back img {
  width: 100%;
  height: 100%;
}
.rotated {
  transform: rotateY(180deg);
}
.front {
  border: 3px solid white;
}
.front:hover {
  box-shadow: 0px 0px 20px 1px #000;
  background-color: white;
}
.back {
  border: 3px solid white;
  transform: rotateY(180deg);
  background-color: grey;
}
.back:hover {
  background-color: black;
  border: 3px solid red;
}

#botonDeColorRojo{
  height: 25px;
  display: none;
}
#botonDeColorVerde{
  height: 25px;
  display: none;
}

/* ************************************************************ */
/*A partir de aqui son los modals*/

/* es el background  del modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*  Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: auto;
    text-align:center;
}
.modal-content_ganado, .modal-content_perdido {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: auto;
    text-align:center;
}
/* Para cerrar el boton */
.Cerrar_Ventana_Usuario, .enviarNombre {
    color: #aaaaaa;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}
#nombre_para_enviar{
  font-size: 18px;
  position: relative;
}
.cerrar_Aviso, .ganado_Opcion_Si, .ganado_Opcion_No, .perdido_Opcion_Cerrar, .Cerrar_Guardado, .cerrarEgg {
  /*modal del aviso*/
    color: #aaaaaa;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}
#letra_modal_aviso_ganado, #letra_modal_aviso_predido, #letra_modal_aviso, #letra_modal_egg, #letra_modal_aviso2, #letra_modal_aviso_perdido{
  /*modal del aviso*/
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
/* Hover de la cruz para cerrar el modal*/
.Cerrar_Ventana_Usuario:hover, .cerrar_Aviso:hover, .ganado_Opcion_Si:hover, .ganado_Opcion_No:hover, .perdido_Opcion_Cerrar:hover, .Cerrar_Guardado:hover
.Cerrar_Ventana_Usuario:focus, .cerrar_Aviso:focus, .ganado_Opcion_Si:focus, .ganado_Opcion_No:focus, .perdido_Opcion_Cerrar:focus, .Cerrar_Guardado:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#AvisoEasterEgg .modal-content{
  width: 100%;
  height: auto;
}
/* ************************************************************ */
/*Aqui acaba el modal*/

div#lateral{   
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: auto;

}
div#divjuntos{
  width: 100%;
  margin-top: 20px;
  text-align:center;  
}

div#tablero{
  display:inline-block;
  height: auto;
  width: 491px;
  margin-top: 3px;
  margin-bottom: 15px;
}
div#divtexto{
  display:inline-block; 
  vertical-align:top; 
  overflow: hidden;
  background: green;
  width: 28%;
  padding: 6px;
  margin-top: 3px;
  margin-left: 25px;
  border: 10px solid white;
  text-align: left;
}

@media screen and (max-width: 600px) {          
  #records {
   width: 90%;
  }  
}
@media screen and (max-width: 819px) {
  div#divtexto{  
    width: 491px;
    margin-left: 25px;
  }     
}
  
@media screen and (max-width: 587px) {
  div#divtexto{  
    width: 90%;
    margin-left:0px;
    border: 5px solid white;
} 

  table{
    padding: 0px;
    border-spacing: 5px;
    border: 3px solid white;
  }
  .container {
    margin: 0px;
    width: 80px;
    height: 80px;
    perspective: 1000px;
  }
  .containerElegida{  
    margin: 5px;
    width: 200px;
    height: 200px;
  }
  .front {
    border: 1px solid white;
  }
  .back {
    border: 1px solid white;
  }
  .back:hover {
    border: 1px solid red;
  }
  div#tablero{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
  }
 #records{
  border: 10px solid white;
 }
}