.cartaElegida {
	height: 200px;
}

.carta{
	border-style: solid;
	border-color: grey;
	height: 160px;
	} 

.carta:hover{
	background-color: grey;
}

table{
	height: 100%;
	position: fixed;
    top: 0;
    right: 0;
	background-color: green;
	padding: 10px;
	border-spacing: 5px;
}

#combobox {
	position: relative;
	top: 15em;
	left: 30em;
}






div {
}

.container {
  margin: 20px;
  width: 160px;
  height: 160px;
  perspective: 1000px;
}

.card {
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.front, .back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  border: 3px solid grey;
}

.front:hover {
  bottom: 2px;
  left: 2px;
  box-shadow: 0px 0px 20px 1px #000;
  background-color: grey;
}

.back {
  border: 3px solid grey;
  background: url("cartas/back.png");
  background-size: 160px;
  transform: rotateY(180deg);
}

.back:hover {
  bottom: 2px;
  left: 2px;
  box-shadow: 0px 0px 20px 1px #000;
  background-color: grey;
}




